
<div >
<style type="text/css">
 input::-webkit-input-placeholder {
    color: black ;
  }
  input:-moz-placeholder {
    color: black ;
  }
  input:-ms-input-placeholder { /* IE10+ */
    color: black ;
  }
</style>
    <div class="list" >
    <label class="item" style="padding: 10px;">
        * Required field 
      </label>
     <label class="item item-input" style="background-color: #DDDDDD;">
        <input type="text" placeholder="First Name*" >
      </label>
      <label class="item item-input" style="background-color: #DDDDDD;">
       
        <input type="text" placeholder="Last Name*" >
      </label>
      <label class="item item-input" style="background-color: #DDDDDD;">
        <input type="text" placeholder="Business Phone"></input>
      </label>
      <label class="item item-input" style="background-color: #DDDDDD;">
      
        <input type="text"  ng-model="phone" placeholder="Fax">  
      </label>
      <label class="item item-input" style="background-color: #DDDDDD;">
       
        <input type="text"  ng-model="account" placeholder="Alternative Phone">  
      </label>
      <label class="item item-input" style="background-color: #DDDDDD;">
       
        <input type="text"  ng-model="account" placeholder="Email*">  
      </label>
     
       <div class="row">
        <div class="col text-left">
            <button class="button no-margin button-small" ng-click="search();" style="width:100px">Done</button>
        </div>
      </div> 
   
    </div>
  </div>
